@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');

.pp {
  background-color: white;
  padding-top: 100px;
}

  .pp .ic {
    background-color: black;
    width: 370px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
  }

    .pp .ic h2 {
      font-size: 40px;
      color: white;
      font-weight: 700;
      margin-bottom: 15px;
      line-height: 10px;
      padding: 20px;
    }

.field {
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.94);
}

  .field span {
    color: #222;
    width: 40px;
    line-height: 45px;
  }

  .field input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
  }

.space {
  margin-top: 16px;
}

.show {
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}

.pass-key:valid ~ .show {
  display: block;
}

.pass {
  text-align: left;
  margin: 10px 0;
}

  .pass a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
  }

  .pass:hover a {
    text-decoration: underline;
  }

.field input[type="submit"] {
  background: #3498db;
  border: 1px solid #2691d9;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}

  .field input[type="submit"]:hover {
    background: #2691d9;
  }

.login {
  color: white;
  margin: 20px 0;
  font-family: 'Poppins',sans-serif;
}

.links {
  display: flex;
  cursor: pointer;
  color: white;
  margin: 0 0 20px 0;
}

.facebook, .instagram {
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-left: 10px;
}

.facebook {
  margin-left: 0;
  background: #4267B2;
  border: 1px solid #3e61a8;
}

.instagram {
  background: #E1306C;
  border: 1px solid #df2060;
}

.facebook:hover {
  background: #3e61a8;
}

.instagram:hover {
  background: #df2060;
}

.links i {
  font-size: 17px;
}

i span {
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}

.signup {
  font-size: 15px;
  color: white;
  font-family: 'Poppins',sans-serif;
}

  .signup a {
    color: #3498db;
    text-decoration: none;
  }

    .signup a:hover {
      text-decoration: underline;
    }

.error-message {
  background-color: black;
  color: red;
  padding: 10px;
}

.error-message {
  background-color: black;
  color: red; /* Set text color to red */
  padding: 10px; /* Add padding for better readability */
}

.error {
  background-color: black;
  color: red;
  padding: 10px;
}

