<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="../../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../../assets/css/font-awesome.css">
  <link rel="stylesheet" href="../../../assets/css/templatemo-hexashop.css">

</head>

<body>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="first-item">
            <div class="logo">
              <img src="../../../assets/images/white-logo.png" alt="hexashop ecommerce templatemo">
            </div>
            <ul>
              <li><a href="#">180/2, Road 8, Niketon, Dhaka, Bangladesh</a></li>
              <li><a href="#">CharaGach&#64;company.com</a></li>
              <li><a href="#">010-020-0340</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <h4>Shopping &amp; Categories</h4>
          <ul>
            <li><a href="#">Indoor’s Shopping</a></li>
            <li><a href="#">Bonsai’s Shopping</a></li>
            <li><a href="#">Planter's Shopping</a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Homepage</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h4>Help &amp; Information</h4>
          <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">FAQ's</a></li>
            <li><a href="#">Shipping</a></li>
            <li><a href="#">Tracking ID</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="under-footer">
            <p>
              Copyright © <span id="year"></span> Md. Shahid Hasan. All Rights Reserved.
            </p>
            <ul>
              <li><a href="https://www.facebook.com/shourav1997"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/in/shou"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script>
            document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
  </footer>
</body>
